#app {
  // padding: 0 1em;
  // max-width: 900px;
  // margin: auto;
}

div p {
  position: relative;
}

.app-title {
  line-height: 1.2;
}

.constrain-width {
  padding: 0 1em;
  max-width: 900px;
  margin: auto;
}

h3 {
  margin-top: 2em;
}

.note {
  font-size: 0.7em;
  line-height: 1.3em;
  color: @gray;
  // text-align: center;
  // font-style: italic;
  a {
    border: none;
    text-decoration: underline;
  }
}

.graphic-left {
  .note {
    font-weight: 600;
    font-style: italic;
    // text-align: center;
  }
}

.lead-image-container {
  height: 450px;
  img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
  }
}

.full-image-container {
  margin: 1em 0;
}

.full-image-container img {
  width: 100%;
  height: auto;
  background-color: #ccc;
}

.small-image {
  width: 40%;
  float: right;
  margin-left: 1em;
}

.img-meta {
  padding: 0 1em;
  line-height: 1em;
}

.constrain-width .img-meta {
  padding-left: 0;
}

figcaption {
  display: inline;
  font-size: 15px;
  font-family: Barlow Condensed,Helvetica,sans-serif;
  font-style: italic;
  color: #626262;
}

cite {
  display: inline;
  color: #626262;
  font-size: 14px;
  font-style: normal;
}

.max-width-md-center() {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.max-width-lg-center() {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.app-intro-content {
  .max-width-md-center();
  margin-top: @size-xl*2;
  margin-bottom: @size-xl;

  .byline-wrapper {
    margin-bottom: 16px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e7e7e8;
    font-family: @sans;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: normal;

    a {
      border-bottom: none;
      color: #5e5e5e;
      &:hover {
        color: @dark-teal;
      }
    }

    .byline,
    .date {
      display: inline-block;
    }

    .date:before {
      display: inline-block;
      width: 2px;
      height: 1.1em;
      margin: 0 .4em;
      border-left: 1px solid;
      vertical-align: middle;
      content: "";
    }

  }

  .share-buttons {
    margin-bottom: @size-md;
    text-align: center;
    .button {
      display: inline-block;
    }
  }

}

.social-icon-container {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 1em;

  svg {
    width: 100%;
    height: 100%;
  }
}

#icon-facebook {
  fill: #325a97;
}

#icon-twitter {
  fill: #00aced;
}

.text-container {
  .max-width-md-center();
  div {
    margin-bottom: 1.333rem;
  }
}

.arrow-break {
  width: 100%;
  height: 50px;
}

#graphic-container,
#graphic-container-2 {
  .max-width-lg-center();
}

.graphic-right {
  display: inline-block;
  width: 39%;
  padding-left: 2em;
}

.graphic-left {
  position: sticky;
  top: 0;
  width: 60%;
  margin-bottom: 3em;
  padding-top: 3em;
  float: left;
}

#graphic-4 {
  div {
    display: block;
    margin-bottom: 1em;
    svg {
      display: block;
    }
  }
}

.trigger {
  margin: 15em 0;
  background-color: #ffffff;
  font-size: 0.9em;
  font-style: italic;
  // &:last-child {
  //   margin-bottom: 10em;
  // }
}

.tooltip {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  width: 200px;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 2px @dark-gray;
  color: @dark-gray;
  font-size: 0.8em;
  line-height: 140%;
  opacity: 0.9;
}

.year-label {
  fill: @dark-gray;
  font-size: 0.8em;
  font-weight: bold;
}

.label-container {
  position: absolute;
}

.display-label {
  position: absolute;
  padding: 0;
  margin: 0 !important;
  text-align: center;
  // width: 120px;
  font-family: @sans;
  line-height: 1.1em;
}

.display-label-arrow {
  font-size: 0.6em;
}

.percent-label {
  font-family: @sans;
  fill: @dark-gray;
}

.link {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes draw {
  from { stroke-dashoffset: 1000; }
  to { stroke-dashoffset: 0; }
}

@keyframes erase {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 1000; }
}

.article-group {
  .max-width-md-center();
  margin-top: 6em;
  padding: 0 1em;

  &:before {
    display: block;
    top: 0;
    left: 0;
    width: 44px;
    height: 11px;
    margin-bottom: 8px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='44' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.79 9.18c2.963-1.785 6.094-3.06 9.28-3.91 1.79-.51 3.579-.85 5.368-.935.447-.085.95-.085 1.398-.085h.335s.503.085.224 0c.223.085.447.17.615.255-.28-.17.223.255.335.34-.28-.34.168.255.224.425.056.085.112.17.112.255.223.425-.168-.34 0 .085.28.595.559 1.105.838 1.7.671 1.19 1.566 2.04 2.572 2.466 1.566.68 3.355.425 4.92-.17 1.733-.68 3.355-2.04 5.088-2.806 2.851-1.19 6.262-1.955 8.945-.425.727.425 1.51-.425 1.733-1.445.224-1.19-.28-2.21-.95-2.635-2.46-1.445-5.535-1.02-8.219-.255-1.9.51-3.746 1.445-5.535 2.55-1.453.935-3.019 1.53-4.64 1.19-.112 0-.392-.17-.615-.255 0 0-.447-.255-.168-.085l-.335-.255s-.112-.085-.168-.085c.28.255 0 0-.056-.085-.168-.255-.28-.51-.447-.765-.224-.425.168.34-.056-.085-.056-.085-.112-.255-.168-.34a2.855 2.855 0 00-.28-.595c-.335-.68-.726-1.36-1.173-1.87C20.017.255 18.787 0 17.668 0c-1.9 0-3.746.34-5.647.765-3.746.85-7.492 2.21-11.014 4.335-.67.425-1.174 1.445-.95 2.635.168 1.02 1.006 1.87 1.733 1.446z' fill='%23FFCC5B'/%3E%3C/svg%3E");
    background-size: 100%;
    content: "";
  }

  h3 {
    margin-top: 0;
    font-size: 1.6em;
    font-weight: 400;
  }

  article {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;

    a {
      font-family: @sans;
      font-size: 1.2em;
      font-weight: 600;
      &:hover {
        color: @dark-teal;
      }
    }

  }

}


// Table and search graphic
#table-graphic {
  min-height: 50px;
}

// Autocomplete styles
.autocomplete {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

input {
  -webkit-appearance: none;
  font-family: @serif;
  border: 1px solid transparent;
  background-color: @light-gray;
  padding: 10px;
  margin: 0 0 20px 0;
  font-size: 16px;
}

input[type=search] {
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
}

input[type=submit] {
  border-radius: 0 4px 4px 0;
  background-color: @dark-gray;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: @teal;
  }
}

.autocomplete-items {
  flex-basis: 100%;
  margin-top: -20px;
  position: absolute;
  border: 1px solid @light-gray;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: scroll;
  height: auto;
  max-height: 220px;
  box-shadow: 0px 1px 5px @dark-gray;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid @light-gray;
}

.autocomplete-items div:hover {
  background-color: @light-teal;
}

.autocomplete-active {
  background-color: @light-teal !important;
}

.input-error {
  color: @dark-purple;
  font-size: 0.9em;
}


// Base table styles
table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  font-size: 14px;
  color: @dark-gray;

  thead td {
    font-weight: bold;
  }

  tr.shadedrow {
    background-color: @light-gray;
    color: @dark-gray;
    font-weight: bold;
  }

  thead {
    font-family: @sans;
    line-height: 1.2;
    font-size: 1.3em;
    text-align: left;
    vertical-align: bottom;
  }

  td {
    vertical-align: top;
  }

  thead tr th,
  thead tr td {
    background-color: @dark-teal;
    color: white;
  }

  &.hide {
    display: none;
  }

}


#media-breakpoint-up(sm, {

  table {
    thead, td {
      padding: 8px 10px;
      &.amt { text-align: right; }
    }

    tbody tr:hover{
      background-color: @light-gray;
    }

    td { border-bottom: 1px solid @light-gray; }
  }

});



#media-breakpoint-down(sm, {

  .lead-image-container {
    height: 250px;
  }

  .graphic-right {
    display: block;
    width: 100%;
    padding: 1em;
    pointer-events: none;
    opacity: 0.9;
  }

  .graphic-left {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 40px;
    float: left;
  }

  .trigger {
    margin: 25em 0;
    display: flex;
    box-shadow: 0px 0px 2px @dark-gray;
    padding: 1em;
    p {
      margin: 0;
    }
  }

  .small-image {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  tbody {
    display: block;
    width: 100%;
  }

  table {
    thead { display: none; }

    tr, th, td {
      display: block;
      padding: 0;
      white-space: normal;
    }

    tr {
      border-bottom: 1px solid @light-gray;
      padding: 6px 0;

      &:first-child { border-top: 1px solid @light-gray; }
    }

    td {
      margin-bottom: 6px;

      &:empty { display: none; }
    }

    thead[data-title]:before,
    td[data-title]:before {
      font-family: @sans;
      font-size: 16px;
      content: attr(data-title) ":\00A0";
      display: inline-block;
      margin-right: 10px;
    }
  }

});
