#app {
  padding: 0 1em;
}

.max-width-md-center() {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.max-width-lg-center() {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.app-intro-content {
  .max-width-md-center();
  margin-top: @size-xl*2;
  margin-bottom: @size-xl;

  .byline-wrapper {
    margin-bottom: 16px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e7e7e8;
    font-family: @sans;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: normal;

    a {
      border-bottom: none;
      color: #5e5e5e;
      &:hover {
        color: @dark-teal;
      }
    }

    .byline,
    .date {
      display: inline-block;
    }

    .date:before {
      display: inline-block;
      width: 2px;
      height: 1.1em;
      margin: 0 .4em;
      border-left: 1px solid;
      vertical-align: middle;
      content: "";
    }

  }

  .share-buttons {
    margin-bottom: @size-md;
    text-align: center;
    .button {
      display: inline-block;
    }
  }

}

.text-container {
  .max-width-md-center();
}

#graphic-container {
  .max-width-lg-center();
}

.graphic-right {
  display: inline-block;
  width: 39%;
  padding-left: 2em;
}

.graphic-left {
  position: sticky;
  top: 0;
  width: 60%;
  padding-top: 100px;
  float: left;
}

.trigger {
  margin: 25em 0;
  background-color: #ffffff;
}

#tooltip {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  width: 200px;
  padding: 1em;
  background-color: @dark-gray;
  box-shadow: 0px 0px 2px @dark-gray;
  color: #ffffff;
  font-size: 0.8em;
  line-height: 140%;
  opacity: 0.9;
}

.year-label {
  fill: @dark-gray;
  font-size: 0.8em;
  font-weight: bold;
}

.display-label {
  text-anchor: middle;
  font-family: @sans;
}

.display-label-arrow {
  font-size: 0.6em;
}

.link {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes draw {
  from { stroke-dashoffset: 1000; }
  to { stroke-dashoffset: 0; }
}

@keyframes erase {
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 1000; }
}



#media-breakpoint-down(sm, {

  .graphic-right {
    display: block;
    width: 100%;
    padding: 1em;
    pointer-events: none;
    opacity: 0.9;
  }

  .graphic-left {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 100px;
    float: left;
  }

  .trigger {
    display: flex;
    box-shadow: 0px 0px 2px @dark-gray;
    padding: 1em;
  }

});
