.cat-outer-wrapper {
  @include round-edges();
  margin: $size-xl 0;
  padding: $size-sm $size-md;
  color: $dark-gray;

  & > div {
    max-width: $desktop-max;
    // margin: auto;
  }

  &.small {
    width: 300px;
    text-align: center;
  }

  &.large {

  }

  &.footer {
    width: 100%;
    margin-bottom: -$size-xxl;
    margin-top: $size-xxxl*2;
    border-radius: 0;

    .container {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        display: block;
        .email-signup-form-wrapper {
          width: 100%;
        }
      }
    }
  }


  &.hidden {
    bottom: -300px;
    height: 0;
    min-height: 0;
    padding: 0;
  }

  &.support {
    background-color: $yellow;

    .button:hover {
      background-color: $dark-yellow;
    }

  }

  &.newsletter {
    background-color: #cb90d0;

    .button:hover {
      background-color: $light-purple;
    }

  }

  &.jobs {
    background-color: $blue;
    color: $white;

    .button:hover {
      background-color: $dark-blue;
    }

  }

  &.events {
    background-color: $peach;

    .button:hover {
      background-color: $dark-peach;
    }

  }

  .response {
    display: none;
    color: $white;
  }

  .title-list {
    display: block;
    margin: $size-xs 0 0 0;
    padding: $size-xxs 0 0 0;
    text-align: left;

    .event-date,
    .event-title,
    .event-link,
    .job-title,
    .job-link,
    .job-org {
      display: inline-block;
      margin: 0 $size-xs 0 0;
      text-transform: none;
    }

    .event-date,
    .job-org {
      font-family: $sans;
      font-size: $size-md;
      font-style: italic;
    }

    .event-title {
      font-family: $serif;
    }

    .event-link {
      font-style: italic;
      text-decoration: underline;
      &:hover {
        color: $dark-peach;
      }
    }

    .job-link {
      font-style: italic;
      text-decoration: underline;
      &:hover {
        color: $dark-blue;
      }
    }

  }

  &.full {
    .outside-link {
      margin-top: $size-sm;
      text-align: right;
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

}



.cat-inner-wrapper {

  .newsletter.medium & {
    margin-bottom: $size-base;
  }

  .support & {
    margin-top: $size-xs;
  }

  .small & {
    display: block !important;
    justify-content: normal !important;
  }

}



.cat-image {
  width: auto;
  height: 60px;
  align-self: center;

  & svg {
    width: auto;
    height: 100%;
  }

  .medium &,
  .large & {
    margin-right: $size-sm;
  }

  .footer & {
    margin-right: $size-md;
  }

  .large & {
    width: 50px;
    height: 50px;
  }

  .small & {
    margin: 0 auto $size-sm;
  }

}



.cat-content {
  margin-bottom: 0;

  .small & {
    display: block !important;
    justify-content: normal !important;

    .email-signup-form {
      display: block !important;
    }

    .input-wrapper {
      margin-bottom: $size-xs;
    }

  }

  .support.medium &,
  .newsletter.medium & {
    display: block !important;
  }

  .medium &,
  .large &,

  .input-wrapper {
    min-width: 250px;

    @include media-breakpoint-down(md) {
      min-width: auto;
    }

    .footer & {
      width: 325px;
    }

  }

  .button {
    display: inline-block;
  }

}


.cat-text {
  @include h5();
  @include antialiasing();
  margin-bottom: 0;
  align-self: center;

  margin-right: $size-lg;
  @include media-breakpoint-down(md) {
    margin-right: 0;
  }

  &.short {
    @include h4();
    margin-bottom: 0;
  }

  .support & {
    font-style: italic;
    @include media-breakpoint-down(md) {
      text-align: left;
    }
  }

  .small & {
    margin-bottom: $size-md;
  }

  .jobs-list,
  .events-list &,
  .jobs &,
  .events & {
    @include h4();
    display: inline-block;
    align-self: center;
    margin-bottom: 0;
    margin-left: $size-sm;
  }

  .events & {
    color: $dark-gray;
  }

  .cat-text-light {
    font-family: $serif;
    font-weight: normal;
    font-size: $size-base + 0.1rem;
  }

}

.cat-text-highlight {
  color: $dark-gray;
}

.cat-link {
  margin-top: $size-xs;
  font-size: $size-sm;
  font-style: italic;
  line-height: 125%;

  a {
    text-decoration: underline;;
  }

}

.newsletter {

  &.small .button {
    margin-left: 0;
  }

}


.button-wrapper {
  text-align: right;
}


@include media-breakpoint-down(sm) {

  .button-wrapper {
    justify-content: flex-start !important;
  }

  .cat-outer-wrapper {
    text-align: center;

    .container {
      padding: 0;
    }

    .cat-content {
      margin-left: 0 !important;
    }

    .cat-content,
    .email-signup-form {
      display: block !important;
      justify-content: normal !important;
    }

    .cat-text-highlight {
      background-position: 0 $size-md;
    }

    .cat-text {
      @include h5();
      margin-bottom: $size-md !important;
    }

    .cat-image {
      width: auto;
      height: 84px;
      margin: 0 auto $size-sm;
    }

    .cat-inner-wrapper {
      display: block !important;
      justify-content: normal !important;
    }

    .button {
      margin-left: 0 !important;
    }

    .input-wrapper {
      width: auto !important;
      margin-bottom: $size-xs;
    }

    .cat-link {
      margin-top: $size-sm;
      margin-left: 0;
    }

  }

}
